<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="Bandar TOOGEL">
	<meta property="og:site_name" content="TOOGEL">
	<meta property="og:description" content="Bandar Toogel terpercaya gacor">
	<meta property="og:image" content="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Vpx8-Tmyzqc8xknQe6q76gHaEl%26pid%3DApi&f=1&ipt=4ead227c828bea5154b0e29d6f52b87ba25c6b571a97caf4fc346deec05e5f64&ipo=images">
	<title>Bandar TOOGEL</title>
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate(function(){window.location='https://crax.pro/';}, function(){$('#change').html('Failed');});">
</body>
</html>